:root {
	/*
	 * These are our main colors. Please use them, e.g.: `color: var(--primaryColor)`.
	 */
	--navText: rgb(0, 0, 0, 0.5);
	--footerText: rgb(0, 0, 0, 0.7);
	--primaryColor: #f6d927;
	--secondaryColor: #ef9d00;
	--tertiaryColor: #ee5508;
}

/*****************
	Bootstrap
******************/

.bg-custom {
	background-color: var(--secondaryColor);
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 1rem;
		padding-left: 1rem;
	}
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
	color: var(--navText);
}

.navbar-light .navbar-nav .nav-link {
	transition: color 0.2s;
	color: var(--navText);
}

.btn-primary {
	background-color: var(--secondaryColor) !important;
	border-color: var(--secondaryColor) !important;
}

.btn-primary:hover {
	background-color: var(--tertiaryColor) !important;
}

.btn-outline-primary {
	color: var(--secondaryColor);
	border-color: var(--secondaryColor);
}

.btn-outline-primary:hover {
	color: white;
	border-color: var(--tertiaryColor);
	background-color: var(--tertiaryColor);
}

/*****************
	Custom CSS
******************/

.debug {
	border: 1px dotted red;
}

nav {
	min-height: 7vh;
	margin-bottom: 1.5rem;
}

body {
	background-color: var(--primaryColor) !important;
}

.title {
	text-decoration-style: solid;
	text-decoration: underline;
	text-decoration-color: var(--secondaryColor);
}

.boxWrapper {
	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 5px;
	padding: 15px 0px 15px 0px;
}

.navbarTitle {
	font-size: 1.5rem;
	padding-right: 1rem;
}

.navElem,
.navElem a {
	vertical-align: middle;
	font-size: 1rem;
	font-weight: 500;
	line-height: 15px;
	letter-spacing: 1px;
}

.navElem:hover,
.navElem a:hover {
	color: var(--tertiaryColor) !important;
}

.footer {
	display: inline-flex;
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 30px;
	background-color: white;
	letter-spacing: 0.5px;
	font-size: 0.8rem;
}

.footer .footerRight,
.footer .footerLeft {
	position: relative;
	align-self: center;
	text-align: center;
}

.footer .footerRight {
	padding-right: 1rem;
	margin-left: auto;
}

.footer .footerLeft {
	padding-left: 1rem;
}

.footer .footerText {
	color: var(--footerText);
	margin-bottom: 0;
}

.footer .footerLink {
	color: var(--footerText);
	text-decoration: none;
	padding-left: 1.5rem;
	cursor: pointer;
}

.footer .footerLink:hover {
	transition: color 0.2s;
	color: var(--tertiaryColor);
}

.overviewCard {
	min-width: 15rem;
	max-width: 15rem;
	min-height: 20rem;
	max-height: 20rem;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.overviewTab {
	background-color: white;
}

.badgeTheory {
	background-color: blue;
	color: white;
}

.badgeGame {
	background-color: orange;
	color: white;
}

.badgeQuiz {
	background-color: green;
	color: white;
}

.questionBox {
	margin: 2rem;
	justify-content: center;
}

.quizPageTextBox {
	justify-content: center;
	background-color: white;
	padding: 1.5rem;
	margin: 2rem;
}

.quizStatusBadgeBox {
	font-size: x-large;
}

.carouselSlide {
	color: black;
	background-color: white;
	justify-content: center;
	align-items: center;
	height: 45rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.carouselSlideTextBox {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem 4rem 2rem 4rem;
	margin-left: 3rem;
	margin-right: 3rem;
	font-size: large;
	height: 100%;
}

.carouselSlideImageBox {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem 2rem 2rem 2rem;
	height: 100%;
	width: 100%;
}

.carousel-control-next,
.carousel-control-prev {
	filter: invert(100%);
}

.nextPageButtonRowQuiz {
	margin-bottom: 6rem;
	margin-right: 4rem;
	justify-content: end;
}

.nextPageButtonRowTheory {
	margin-bottom: 4rem;
	margin-right: 1rem;
	justify-content: end;
}

/*
 The height of gameDestination sets the maximum height of the game frame
 and therefore must be the height of the game (currently 600)!
 */
#gameDestination {
	height: 600px !important;
}
