.debug {
	border: 1px dotted black;
}

nav {
	min-height: 8vh;
	margin-bottom: 1rem;
}

.navLink {
	display: flex;
	align-items: center;
	list-style: none;
}

.navLink .navElem {
	padding-right: 1rem;
	padding-left: 1rem;
	color: rgba(255, 255, 255, 0.5);
}

.row-card-overview {
	margin-top: 30px;
	margin-bottom: 30px;
}
