.textProgressBar {
	border-radius: 0.25rem;
	background-color: rgba(0, 0, 0, 0.02);
	padding: 0.5rem;
	margin-bottom: 0.75rem;
}

.textProgressBarClickable {
	cursor: pointer;
}

.textProgressBarClickable:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.smallProgress {
	height: 0.5rem !important;
}

.separator {
	border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}
